<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap" rel="stylesheet">
    <meta name="robots" content="index, follow, noodp, noydir" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#000000" />
    <meta name="msapplication-navbutton-color" content="#000000" />
    <meta name="apple-mobile-web-app-status-bar-style" content="#000000" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <link rel='stylesheet' href='/css/unip-eu-general.css' />
    <link rel='stylesheet' href='/css/unip-eu-diary.css' />
  </head>

  <body class="eu-adb-diary">
    <main>
      <%- include('components/header') %>

      <section class="eu-adb-section">
        <div class="eu-adb-diary__table">
          <h3>Janeiro</h3>
          <table>
            <thead>
              <tr>
                <th>dia</th>
                <th>semana</th>
                <th>evento</th>
                <th>local</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>07</td>
                <td>Quarta-Feira</td>
                <td>Feira de adoção</td>
                <td>
                  <a href="#">
                    Cobasi Tamboré
                  </a>
                </td>
              </tr>
              <tr>
                <td>10</td>
                <td>Quarta-Feira</td>
                <td>Feira de adoção</td>
                <td>
                  <a href="#">
                    Cobasi Tamboré
                  </a>
                </td>
              </tr>
              <tr>
                <td>21</td>
                <td>Sábado</td>
                <td>Feira de adoção</td>
                <td>
                  <a href="#">
                    Cobasi Osasco
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="eu-adb-diary__table">
          <h3>Fevereiro</h3>
          <table>
            <thead>
              <tr>
                <th>dia</th>
                <th>semana</th>
                <th>evento</th>
                <th>local</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>07</td>
                <td>Quarta-Feira</td>
                <td>Feira de adoção</td>
                <td>
                  <a href="#">
                    Cobasi Tamboré
                  </a>
                </td>
              </tr>
              <tr>
                <td>10</td>
                <td>Quarta-Feira</td>
                <td>Feira de adoção</td>
                <td>
                  <a href="#">
                    Cobasi Tamboré
                  </a>
                </td>
              </tr>
              <tr>
                <td>21</td>
                <td>Sábado</td>
                <td>Feira de adoção</td>
                <td>
                  <a href="#">
                    Cobasi Osasco
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </section>
      <%- include('components/menu') %>
    </main>

    <script type="text/javascript" src="/js/unip-eu-general.js"></script>
    <script type="text/javascript" src="/js/unip-eu-diary.js"></script>
  </body>
</html>