<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap" rel="stylesheet">
    <meta name="robots" content="index, follow, noodp, noydir" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#000000" />
    <meta name="msapplication-navbutton-color" content="#000000" />
    <meta name="apple-mobile-web-app-status-bar-style" content="#000000" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <link rel='stylesheet' href='/css/unip-eu-general.css' />
    <link rel='stylesheet' href='/css/unip-eu-home.css' />
  </head>

  <body class="eu-adb-home">
    <main>
      <%- include('components/header') %>

      <section class="eu-adb-section">
        <h2 class="eu-adb-section__title">Lorem ipsum dolor sit, amet consectetur adipisicing elit</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse mollitia adipisci unde officia, dolor omnis
          placeat quos itaque accusantium quam perferendis repudiandae vel qui dicta ex corporis, commodi provident!
          Eos!
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse mollitia adipisci unde officia, dolor omnis
          placeat quos itaque accusantium quam perferendis repudiandae vel qui dicta ex corporis, commodi provident!
          Eos! Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse mollitia adipisci unde officia, dolor omnis
          placeat quos itaque.
        </p>
        <div class="eu-adb-form w-80">
          <h3 class="eu-adb-form__title">Entre em contato</h3>
          <form class="eu-adb-form__content">
            <div class="eu-adb-form__control">
              <input type="text" class="eu-adb-form__input" placeholder="Nome" />
            </div>

            <div class="eu-adb-form__control">
              <input type="email" class="eu-adb-form__input" placeholder="E-mail" />
            </div>

            <div class="eu-adb-form__control">
              <textarea class="eu-adb-form__textarea" placeholder="Mensagem" ></textarea>
            </div>

            <button class="eu-adb-form__submit" type="submit" rows="4">enviar</button>
          </form>
        </div>
      </section>
      <%- include('components/menu') %>
    </main>

    <script type="text/javascript" src="/js/unip-eu-general.js"></script>
    <script type="text/javascript" src="/js/unip-eu-home.js"></script>
  </body>
</html>