@font-face {
  font-family: "renault_liferegular";
  src: url("../fonts/renaultlife-regular-webfont.woff2") format("woff2"),
    url("../fonts/renaultlife-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "renault_lifebold";
  src: url("../fonts/renaultlife-bold-webfont.woff2") format("woff2"),
    url("../fonts/renaultlife-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "renault_lifelight";
  src: url("../fonts/renaultlife-light-webfont.woff2") format("woff2"),
    url("../fonts/renaultlife-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

//NEW FONTS

@font-face {
  font-family: "nouvelR_light";
  src: url("../fonts/NouvelR-Light.woff2") format("woff2"),
    url("../fonts/NouvelR-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "nouvelR_book";
  src: url("../fonts/NouvelR-Book.woff2") format("woff2"),
    url("../fonts/NouvelR-Book.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "nouvelR_regular";
  src: url("../fonts/NouvelR-Regular.woff2") format("woff2"),
    url("../fonts/NouvelR-Regular.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;

}

@font-face {
  font-family: "nouvelR_semibold";
  src: url("../fonts/NouvelR-Semibold.woff2") format("woff2"),
    url("../fonts/NouvelR-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "nouvelR_bold";
  src: url("../fonts/NouvelR-Bold.woff2") format("woff2"),
    url("../fonts/NouvelR-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "nouvelR_extrabold";
  src: url("../fonts/NouvelR-Extrabold.woff2") format("woff2"),
    url("../fonts/NouvelR-Extrabold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}